<h1>Publiceer zitting naar Themis</h1>

<div>
  <h2>Wat is de UUID van de zitting?</h2>
  <label for="session-id">Zitting UUID</label>
  <Input id="session-id" @value={{this.sessionId}} />
  <div class="note">Vb. https://kaleidos.vlaanderen.be/vergadering/<span class="highlight">5E81EF7D5AB66F0008000270</span>/agenda/5E81EF7E5AB66F0008000271/agendapunten</div>
</div>
<div>
  <h2>Wat moet er gepubliceerd worden?</h2>
  {{#each this.scopes as |scope|}}
    <div>
      <Input id="export-scope-{{scope.value}}" @type="checkbox" @checked={{scope.includeInExport}} />
      <label for="export-scope-{{scope.value}}">{{scope.label}}</label>
    </div>
  {{/each}}
</div>
<div>
  <h2>Klaar?</h2>
  {{#if this.error}}
    <div class="warning">
      {{this.error}}
    </div>
  {{else}}
    {{#if this.publish.isRunning}}
      Bezig...
    {{else}}
      <button type="button" class="publish" {{on "click" (perform this.publish)}}>Publiceer zitting</button>
      <button type="button" class="unpublish" {{on "click" (perform this.unpublish)}}>Verwijder publicatie</button>

      {{#if this.publish.last.isError}}
        <div class="warning">
          Er is iets misgelopen bij het exporteren
        </div>
      {{/if}}
      {{#if this.publish.last.isSuccessful}}
        <div class="success">
          Export gestart
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</div>

{{outlet}}