<h1>Publiceer zitting naar Valvas</h1>

<div>
  <label for="session-id">Zitting UUID</label>
  <Input id="session-id" @value={{this.sessionId}} />
</div>
<div>
  <h2>Exporteer</h2>
  {{#each this.scopes as |scope|}}
    <div>
      <Input id="export-scope-{{scope.value}}" @type="checkbox" @checked={{scope.includeInExport}} />
      <label for="export-scope-{{scope.value}}">{{scope.label}}</label>
    </div>
  {{/each}}
</div>
<div>
  <WuCheckbox @name='documentNotification' @checked={{documentNotification}} @onClick={{action updateDocumentNotification value='target.checked'}} > Document Notification</WuCheckbox>
  {{#if documentNotification}}
    <input class='input-field' placeholder="session date" value={{sessionDate}} oninput={{action updateSessionDate value='target.value'}} />
    <input class='input-field' placeholder="document publication dateTime" value={{documentPublicationDateTime}} oninput={{action updateDocumentPublicationDateTime value='target.value'}} />
  {{/if}}
</div>
<div>
  <WuButton @onClick={{action 'exportZitting'}}>Export</WuButton>
</div>
{{#if documentNotification}}
  <div>
    <WuCheckbox @name='previewNotification' @checked={{previewNotification}} @onClick={{action updatePreviewNotification value='target.checked'}} >Preview Notification</WuCheckbox>
    {{#if previewNotification}}
      <h2>Document ministerraad {{sessionDate}}</h2>
      <p>De documenten van deze ministerraad zullen beschikbaar zijn vanaf {{documentPublicationDateTime}}.</p>
    {{/if}}
  </div>
{{/if}}
{{outlet}}