<h1>Publiceer zitting naar Valvas</h1>

<div>
  <label for="session-id">Zitting UUID</label>
  <Input id="session-id" @value={{this.sessionId}} />
</div>
<div>
  <h2>Exporteer</h2>
  {{#each this.scopes as |scope|}}
    <div>
      <Input id="export-scope-{{scope.value}}" @type="checkbox" @checked={{scope.includeInExport}} />
      <label for="export-scope-{{scope.value}}">{{scope.label}}</label>
    </div>
  {{/each}}
</div>
<div>
  <h2>Documenten notificatie</h2>
  <div>
    <Input id="document-notification-flag" @type="checkbox" @checked={{this.isEnabledDocumentNotification}} />
    <label for="document-notification-flag">Voeg document notificatie toe</label>
  </div>

  {{#if this.isEnabledDocumentNotification}}
    <div>
      <label for="session-date">Datum zitting</label>
      <Input id="session-date" @value={{this.sessionDate}} placeholder="5 juni 2020" />
    </div>
    <div>
      <label for="document-publication-date">Datum publicatie documenten</label>
      <Input id="document-publication-date" @value={{this.documentPublicationDateTime}} placeholder="8 juni 2020 om 14:00" />
    </div>

    <h3>Preview</h3>
    <div class="document-notification-preview">
      <strong>Documenten ministerraad {{this.sessionDate}}</strong>
      <div>De documenten van deze ministerraad zullen beschikbaar zijn vanaf {{this.documentPublicationDateTime}}.</div>
    </div>
  {{/if}}
</div>
<div>
  <h2>Klaar?</h2>
  {{#if this.error}}
    <div class="warning">
      {{this.error}}
    </div>
  {{else}}
    {{#if this.exportSession.isRunning}}
      Bezig...
    {{else}}
      <button type="button" {{on "click" (perform this.exportSession)}}>Start export</button>

      {{#if this.exportSession.last.isError}}
        <div class="warning">
          Er is iets misgelopen bij het exporteren
        </div>
      {{/if}}
      {{#if this.exportSession.last.isSuccessful}}
        <div class="success">
          Export gestart
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</div>

{{outlet}}